@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
body{
	font: 12px/1.5 'Microsoft Yahei', 'Simsun';
    background-color: #fffbf0;
    color: #5d5d5d;
}
a:link, a:visited {
    text-decoration: none;
    color: #666;
}
.topBar{
	height:30px;
	box-sizing: border-box;
	background: #f3f3f3;
	line-height: 30px;
	width: 100%;
}
.top_ul{
	width:1000px;
    margin:auto;
    text-align: right;
} 
.top_ul a{
	margin-left: 20px;
}
.logo{
	height:150px;
	box-sizing: border-box;
	background: #E8F0E8 url(../images/logo.jpg) scroll no-repeat;
	-webkit-background-size: cover;
	clear: both;
	overflow: hidden;
}
#myType{
	width:100%;
	background:#BFAB86;
	height: 50px;
    line-height: 47px;
}
.myUl{
	margin:0 auto;
	width:1000px;
	list-style: none;
}
.myUl a{
	font-size: 18px;
	padding: 0 20px;
	display: inline-block;
    border-top:4px solid #BFAB86;

}
#myUl_index{
	background: #fffbf0;
    border-top: 4px solid #f77825;
    color:#000;
}
a{
	outline: none;
	text-decoration: none;		
}

article {
    width: 1000px;
    margin: 20px auto;
}

.leftBox{
	float:left;
	width:670px;
}
.rightBox{
	float:right;
	width:300px;
}
.introduce {
    height: 280px;
    width: 670px;
    overflow: hidden;
}
.topnews {
    margin: 20px 0;
}
.photoBox{
	float:left;
	width: 500px;
    height: 280px;
    background: #111;
}

.textBox{
	float:right;
    width: 170px;
    background: #F32;
    height: 280px;
    overflow: hidden;
   
}
section {
    padding: 20px;
    height: 96px;
}
.text01 {
    margin: 0px auto;
    margin-bottom: 4px;
    border: 1px solid #FFCC00;
    background-color: #FFFFF7;
}
.text02 {
    margin: 0px auto;
    margin-bottom: 4px;
    border: 1px solid #CCEFF5;
    background-color: #FAFCFD;
}
.text01>h3{
	font-size: 16px;
    font-weight: bold;
    transition: all .5s;
    margin-bottom: 10px;
}
.text02>h3{
	font-size: 16px;
    font-weight: bold;
    transition: all .5s;
    margin-bottom: 10px;
}
.text01>p{
	color: #b3b3b3;
    line-height: 18px;
    word-break: break-all;
}
.text02>p{
	color: #b3b3b3;
    line-height: 18px;
    word-break: break-all;
}
.textBox a{
	color: #474645;
}

.titleBox{
	padding: 30px 0;
    position: relative;
    border-bottom: #BFAB86 1px solid;
    overflow: hidden;

}
.titleBox figure{
	float: left;
    width: 25%;
    overflow: hidden;
    cursor: pointer;
}
.titleBox ul{
	float: right;
    line-height: 22px;
    width: 72%;
    color: #777;

}


.blank{
	height:5px;
	overflow:hidden;
	width:100%;
	margin:auto;
	clear:both;
}
.buttom{
	font-size: 12px;
    color: #737373;
    font-family: 'Arizonia', cursive;
    line-height: 24px;
    text-align: center;
    width: 100%;
}
.viewnum{
	background:url(../images/mynewsbg.png) no-repeat  0px -70px;
}
.pingl{
	background:url(../images/mynewsbg.png) no-repeat  0px -20px;
}
.pingl.f_r {
    padding: 0;
}
.author_info{
    margin: 10px 0;
}
.author_info span {
    margin: 0 10px 0 0;
    padding-left: 20px;
}
.titleBox ul{
	float:right;
    line-height: 22px;
    width:72%;

}
.topnews h2{
	font-size:16px;
 	font-weight: bold;
	line-height:36px;
	color:#333;
	border-bottom: #db6d4c 4px solid;
}

.label_bottom .yz_zan{
	padding-left:20px;
	color:#999999;
	font-size:12px;
	background:url(../images/list_icon.png) no-repeat -47px -295px;
}

.tit1 h3 {
    line-height: 40px;
    color: #38485A;
    font-size: 18px;
    border-bottom: 1px solid #E6E6E6;
    height: 40px;
}
.f_r{
	float:right;
}
.f_l{
	float:left;
}